<div class="modal-header">
  <h5 class="modal-title">{{ action|title }} Módulo</h5>
</div>
<form class="module-form" method="post" data-url="{% url 'module_modal' %}?action={{ action }}{% if id %}&id={{ id }}{% endif %}">
  {% csrf_token %}
  <div class="modal-body">
    {{ form.as_p }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  </div>
</form>